<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MEAN Stack 276 Assignment 2</title>
</head>

<body>
</br>
    <div><b>Result Page</b></div></br>
    <div><b>Total: <%= movies.length %> results</b></div></br>
    <a href="/">Search Again!!</a></br>
    </br>
	<ul>
	<% for(var i=0; i<movies.length; i++) {%>
   		<h2>Title: <%= movies[i].Title %></h2>
   		<p>Year: <%= movies[i].Year %></p>
   		<p>imdbID: <%= movies[i].imdbID %></p>
   		<p>Type: <%= movies[i].Type %></p>
      <%if (movies[i].Poster !=  'N/A') { %>
        <img src=<%=movies[i].Poster%> style="width:304px;height:228px;">
      <% } %>
      
      <hr>
	<% } %>
	</ul>

</body>

</html>